@import '../../styles/global.scss';

.loadingContainer {
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 999;
  opacity: 1;
  transition: all .2s ease-in-out;

  .spinner {
    animation: spin 2s ease-in-out infinite;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}