@import '../../styles/global.scss';

.formGroup {

  margin-bottom: 3rem;
  position: relative;

  textarea {
    resize: none;
    font-size: 1.8rem;
    padding: 1rem 1.3rem;
    display: block;
    height: 20rem;
    width: 100%;
    border-radius: .2rem;
    border: .2rem solid $light-gray-color;
    transition: all .2s ease-in-out;
    
    &:focus {
      outline: none;
      border: .2rem solid $safe-color;
    }
    
    &:invalid {
      border: .2rem solid $danger-color;
    }
  }

  label {
    display: inline-block;
    font-size: 1.4rem;
    color: gray;
    margin-left: 1rem;
    padding: 0 .5rem;
    position: absolute;
    top: -1.2rem;
    background-color: white;
    transition: all .3s ease-in-out;
  }
  
  textarea:placeholder-shown + label {
    background-color: transparent;
    opacity: 0;
    visibility: hidden;
    top: 1.5rem;
  }

}