@import '../../styles/global.scss';

.container {
  background: white;
  box-shadow: $box-shadow;
  border-radius: 5px;
  padding: 10rem;
  padding-bottom: 25rem;
  margin-bottom: 15rem;
  position: relative;
  min-height: 80vh;
}

.section {

  &:not(:last-child) {
    border-bottom: 2px dashed $light-gray-color;
    padding-bottom: 2rem;
    margin-bottom: 4rem;
  }

}


.message {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}

.heading1 {
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
}

.heading2 {
  font-size: 3rem;
  font-weight: normal;
}

.fontBold {
  font-weight: 700;
}

.fontSemiBold {
  font-weight: 500;
}

.fontItalic {
  font-style: italic;
}