@import '../../styles/global.scss';

.container {
  overflow: hidden;

  .card {
    background: white;
    box-shadow: $box-shadow;
    border-radius: 5px;
    height: 45rem;
    width: 70rem;

    .title {
      font-size: 2.5rem;
      font-weight: 100;
    }
  }
}