@import '../../../styles/global.scss';

.formGroup {
  margin-bottom: 3rem;
  position: relative;
}

.container {
  position: relative;

  .order {
    color: $light-gray-color;
    position: absolute;
    top: 0;
    right: calc(100% + 1.5rem);
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 700;
  }

  .progressBar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    height: 3rem;
    width: 100%;
    font-weight: 500;
  }
}

.topDivider {
  border-top: 2px dashed $light-gray-color;
  padding-top: 3rem;
}