@import '../../../styles/global.scss';

.formGroup {
  margin-bottom: 3rem;
  position: relative;
}

.container {
  position: relative;

  .order {
    color: $light-gray-color;
    position: absolute;
    top: 0;
    left: -5.5rem;
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 700;
  }
}