@import '../../styles/global.scss';

.container {
  background: white;
  box-shadow: $box-shadow;
  border-radius: 5px;
  padding: 10rem;
  padding-bottom: 25rem;
  margin-bottom: 15rem;
  position: relative;
  min-height: 80vh;

  .message {
    font-size: 2.5rem;
    font-weight: 700;
  }
}