@import '../../styles/global.scss';

.button {
  color: white;
  display: inline-block;
  background: $primary-dark-color;
  padding: .6em 1.2rem;
  font-size: 2rem;
  font-weight: 500;
  border-radius: .3rem;
  text-transform: uppercase;
  transition: .2s all ease-in-out;

  &:hover, &:active {
    background: $primary-color;
  }
}