@import '../../styles/global.scss';

.container {
  padding-bottom: 15rem;

  .actionBar {
    margin-bottom: 2rem;

    button {
      font-size: 1.6rem;
    }
  }
}

.message {
  color: white;
  font-size: 2.5rem;
  font-weight: 700;
}