@import '../../../../styles/global.scss';

.header {
  font-family: $template1-font-family;
  display: flex;
  border-bottom: 2px dashed $light-gray-color;
  padding-bottom: 6rem;
  margin-bottom: 2rem;

  .left {
    display: flex;
    align-items: center;
    width: 70%;

    .avatar {
      img {
        width: 18rem;
        clip-path: circle(50% at center);
        -webkit-clip-path: circle(50% at center);
      }
    }

    .jobTitle {
      font-size: 2.5rem;
      font-weight: 100;
    }
  }

  .right {
    border-left: .5rem solid $primary-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 3rem;
    width: 30%;

    .infoItem {
      font-size: 1.6rem;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      & > * {
        vertical-align: middle;
      }

      svg {
        font-size: 2rem;
      }
    }
  }
}